<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/dist/css/coordinate.css">
</head>
<body>


	<form>
		<label>
			<input type="radio" name="animal" value="1" class="radio">
			<img src="../static/img/1.jpg" class="radio_image">
		</label> 
		<label>
			<input type="radio" name="animal" value="2" class="radio">
			<img src="../static/img/4.jpg" class="radio_image">
		</label>
		<label>
			<input type="radio" name="animal" value="3" class="radio">
			<img src="../static/img/2.jpg" class="radio_image">
		</label>
		<label>
			<input type="radio" name="animal" value="4" class="radio">
			<img src="../static/img/3.jpg" class="radio_image">
			</label>
	</form>


</body>
</html>