<!DOCTYPE html>
<html lang="ja" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Navigation-->
	<div th:fragment="pageheader">
	<!-- image th:src="@{/dist/assets/img/myqlo_favicon.jpg}"> -->
		<nav>
			<div class="inner">
				<ul>
					<li><a href="top.html" th:href="@{/}"><i
							class="fas fa-home"></i>&emsp;&emsp;TOP</a></li>
					<li><a href="statistics.html" th:href="@{/stats}"><i
							class="far fa-chart-bar"></i>&emsp;&emsp;統計データ</a></li>
					<li><a href="calender.html" th:href="@{/calendar}"><i
							class="far fa-calendar-alt"></i>&emsp;&emsp;カレンダー</a></li>
					<li><a href="coordinate.html" th:href="@{/coordinate}"><i
							class="fas fa-female"></i>&emsp;&emsp;コーディネート</a></li>
					<li><a href="contact.html" th:href="@{/}"><i
							class="far fa-envelope"></i>&emsp;&emsp;お問い合わせ</a></li>
					<li><a href="faq.html" th:href="@{/faq}"><i
							class="far fa-question-circle"></i>&emsp;&emsp;FAQ</a></li>
					<li><a href="login.html" th:href="@{/logout}"><i
							class="fas fa-sign-out-alt"></i>&emsp;&emsp;ログアウト</a></li>

				</ul>
			</div>
		</nav>
		<div class="humberger_menue">
			<div class="toggle_btn">
				<span></span> <span></span> <span></span>
			</div>
		</div>
		<div id="mask"></div>
		
	</div>
</body>
</html>