<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MYQLO | リンクが無効です</title>
<link rel="icon" type="image/x-icon" href="../static/dist/assets/img/myqlo_favicon.jpg" th:href="@{/dist/assets/img/myqlo_favicon.jpg}"/>
<meta http-equiv="refresh" content="3;URL=/myqlo/forgotPassword">
</head>
<p>
このリンクは無効です。<br>
お手数ですが初めからやり直してください。<br>
約3秒後にページが切り替わります。<br>
<a th:href="@{/forgotPassword}">ページが切り替わらない場合はこちら</a>
</p>

<!-- Footer-->
	<footer class="footer py-4"  th:replace="footer::pagefooter">
	</footer>

</body>
</html>